@import "./colors.scss";

// span {
//   background-color: gray;
//   border: 1px solid black;
//   display: block;
// }

// span > p {
//   color: red;
// }
$gray-color:gray;

%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.span {
  @extend %flex;
  display: block;
  background-color: $secondary-color;
  border: 1px solid black;
  p {
    @extend %flex;
    color: red;
    background-color: blue;
  }
}




